{% extends 'main/public.html' %}
{% block title %}Главная страница{% endblock title %}
{% block content %}
        {% if user.is_authenticated %}
            <p></p>
            <h1 class="t">Уроки</h1>
            <p></p>
    
        {% for p in post %}
            {% if p.published == True %}
                <a href="{% url 'post_detail' p.id %}">
                    <div class="posts">
                        <div class="text_post">
                            <h3>{{p.title}}</h3>
                        </div>
                        <img class="images" src="{{ MEDIA_URL }}{{ p.image.url }}">
                        <p class="btn btn-warning">Далее...</p>
                    </div>
                </a>
            {% endif %}
        {% endfor %}       
        {% else %}
            <div class="register-container">
                <h2>Пожалуйста зарегистрируйтесь на сайте чтобы получить доступ к контенту</h2>
                <a href="{% url 'signup' %}">регистрироваться</a>
            </div>
        {% endif %}
{% endblock content %}